.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.label-style {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
}

.text-field-style {
    -fx-pref-width: 243px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}

.button-style {
    -fx-pref-width: 243px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-background-color: #336699;
    -fx-text-fill: white;
}
